*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.env
.idea/
/btre_project/env/
/btre_project/venv/
/btre_project/btre/.env.dev
/btre_project/Pipfile
/btre_project/Pipfile.lock
/btre_project/.idea/
.DS_STORE
/btre_project/static
Pipfile
Pipfile.lock
django.iml